<%= form_with(model: [@listing, membership]) do |form| %>
  <%= render "shared/error_messages", resource: form.object %>

  <h5 class="mb-2">Roles</h5>
  <div class="form-group">
    <% Membership::ROLES.each do |role| %>
      <label>
        <%= form.check_box role, class: "mr-1" %>
        <%= role.to_s.humanize %>
      </label>
    <% end %>
  </div>
   <div class="form-group">
    <%= form.label :secure_access %>
    <%= form.check_box :secure_access %>
  </div>

  <div class="form-group flex justify-between">
    <%= form.button class: "btn btn-primary" %>

    <% if form.object.persisted? %>
      <%= link_to 'Delete', listing_membership_path(@listing, form.object), class: "btn btn-danger outline", method: :delete, remote: true, data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
