<%= form_for @listing do |form| %>
  <%= render "shared/error_messages", resource: form.object %>
  
  

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

 <!--  <div class="form-group">
    <%= form.label :description %>
    <%= form.rich_text_area :description %>
  </div> -->
  
  <div class="flex flex-wrap -mx-3 mb-2">
     <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
        Sale Type
      </label>
      <div class="relative">
        <%= form.select :type, [['Investment', 'investment'], ['Investment NNN', 'investment_nnn'], ['Owner User', 'owner_user'],['Investment or Owner User', 'investment_or_owner_user']], class: "block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500", id: "grid-state" %>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
    
    <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
      <div>
        <label for="price" class="block text-sm leading-5 font-medium text-gray-700">Price</label>
        <div class="mt-1 relative rounded-md shadow-sm">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <span class="text-gray-500 sm:text-sm sm:leading-5">
              $
            </span>
          </div>
          <%= form.number_field :price, class: "appearance-none block w-full text-gray-700 border border-gray-400 rounded py-3 px-4 leading-tight pl-7 pr-12 sm:text-sm sm:leading-5 focus:outline-none focus:bg-white focus:border-gray-500", id: "price", placeholder: "0.00" %>
            
        </div>
      </div>
    </div>
        
        <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
          <div>
            <label for="price" class="block text-sm leading-5 font-medium text-gray-700">NOI</label>
            <div class="mt-1 relative rounded-md shadow-sm">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 sm:text-sm sm:leading-5">
                  $
                </span>
              </div>
              <%= form.number_field :noi, class: "appearance-none block w-full text-gray-700 border border-gray-400 rounded py-3 px-4 leading-tight pl-7 pr-12 sm:text-sm sm:leading-5 focus:outline-none focus:bg-white focus:border-gray-500", id: "noi", placeholder: "0.00" %>
                
            </div>
          </div>
          
        </div>
    
  </div>


  <!-- Divider -->
  <hr class="my-5">

  <div class="flex flex-wrap -mx-3 mb-2">
    <div class="w-full md:w-full px-3 mb-6 md:mb-0">
      <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-city">
        Conditions
      </label>
      <%= form.text_field :type, class: "appearance-none block w-full text-gray-700 border border-gray-400 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500", id: "grid-city", placeholder: "1000000" %>
    </div>
      
  </div>

   <!-- Divider -->
  <hr class="my-5">
  
  <div class="flex flex-wrap -mx-3 mb-2">
      

     <div class="rounded my-8 w-full md:w-2/5 px-3 mb-6 md:mb-0">
         <!-- label -->
        <div class="text-gray-700 font-medium">Private Listing
        </div>
        <!-- Text -->
        <small class="form-text text-muted">
          You choose who can see and interact with this listing.
        </small>
      
      <!-- Toggle Button -->

      <label for="private_listing" class=" w-full md:w-1/3 flex px-3 my-6 md:mb-0 cursor-pointer">
         
        <!-- toggle -->
        <div class="relative">
          <!-- input -->
          <%= form.check_box :private_listing, class: "hidden", id: "private_listing" %>
          <!-- line -->
          <div class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
          <!-- dot -->
          <div class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
        </div>
       
      </label>
      </div>

      <div class="border border-gray-200 rounded right-0 p-8 my-8 bg-gray-200 w-full md:w-3/5 px-3 mb-6 md:mb-0">
        <h3>Public Listings</h3>
        <p>Anyone on the internet can see this listing. Only signed in users can view the listing details.</p>
      </div>
      
    </div>

   <!-- Divider -->
  <hr class="my-5">
  
  <div class="flex flex-wrap -mx-3 mb-2">
      

     <div class="rounded my-8 w-full md:w-2/5 px-3 mb-6 md:mb-0">
         <!-- label -->
        <div class="text-gray-700 font-medium">Require NDA
        </div>
        <!-- Text -->
        <small class="form-text text-muted">
          Require users to sign an NDA before viewing all or parts of your listing.
        </small>
      
      <!-- Toggle Button -->

      <label for="require_nda" class=" w-full md:w-1/3 flex px-3 my-6 md:mb-0 cursor-pointer">
         
        <!-- toggle -->
        <div class="relative">
          <input class="hidden" id="require_nda" type="checkbox" value="1" checked="checked" name="listing[require_nda]">
          <%= form.check_box :private_listing, class: "hidden", id: "private_listing" %>
          <!-- line -->
          <div class="toggle__line w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
          <!-- dot -->
          <div class="toggle__dot absolute w-6 h-6 bg-white rounded-full shadow inset-y-0 left-0"></div>
        </div>
        <%= form.collection_select :nda_id, current_account.ndas, :id, :name %>
      </label>
      </div>

     
      
    </div>

  <!-- Divider -->
  <hr class="my-8">

  <div class="form-group mt-10 flex justify-between">
    <% if form.object.persisted? %>
      <%= form.button class: "btn btn-primary" %>
      <%= link_to 'Delete', form.object, class: "btn btn-danger outline", method: :delete, data: { remote: true, confirm: "Are you sure?" } %>
    <% else %>
      <%= link_to 'Cancel', listings_path, class: "btn btn-link" %>
      <div class="text-xs uppercase">
        Step 1 of 4
      </div>
      <%= form.button "Continue", class: "btn btn-primary" %>
    <% end %>
  </div>
<% end %>







