  <%= render "listings/shared/header" %>
  <div class="lg:flex mb-6">
    <div class="lg:w-4/12">
      
      <div class="pb-2/3 relative lg:mb-6">
        <%= listing_thumbnail(@listing, class:"absolute top-0 w-full h-full object-cover object-center rounded-t-lg sm:rounded-lg sm:shadow") %>
      </div>
      <div id="map" data-controller="maps" data-action="google-maps-callback@window->maps#initializeMap" data-properties="<%= @listing.properties.to_json(methods: [:address]) %>">
        <div class="pb-2/3 w-full rounded-t-lg sm:rounded-lg sm:shadow hidden lg:block shadow" data-target="maps.map">
        </div>
      </div>

    </div>
    <div class="flex-col lg:w-8/12 lg:pl-8">
      <%= render 'listings/shared/description_card' %>
      <div data-controller="maps" data-action="google-maps-callback@window->maps#initializeMap">
        <div class="bg-white pb-2/3 w-full rounded-t-lg sm:rounded-lg sm:shadow lg:hidden" data-target="maps.map"></div>
      </div>
      <%= render 'listings/shared/properties_table' %>  
      <%= render 'listings/shared/documents' %>
    </div>  
  </div>





