<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Listings', listings_path %> > Listing #<%= @listing.id %></h1>
      <% if current_account == @listing.account %>
        <%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %>
      <% end %>
    </div>

    <div class="bg-white rounded shadow p-8">
            <div class="mb-4">
        <h5>User</h5>
        <%= @listing.user %>
      </div>
            <div class="mb-4">
        <h5>Title</h5>
        <%= @listing.title %>
        <% if @listing.private_listing %>
          <h5>Private Listing</h5>
        <% end %>
      </div>
      <% if current_account == @listing.account %>
        <%= render 'shared/events', model: @listing %>
      <% end %>

    </div>
  </div>
</div>
