<div class="container mx-auto my-8 px-4">
  <div class="max-w-3xl mx-auto">
    <div class="flex justify-between items-center mb-4">
      <h1 class="h3"><%= link_to 'Ndas', account_ndas_path(current_account) %> > NDA #<%= @nda.id %></h1>
      <% if current_account == @nda.account %>
        <%= link_to 'Edit', edit_account_nda_path(current_account, @nda), class: "btn btn-link" %>
      <% end %>
    </div>

    <div class="bg-white rounded shadow p-8">
      

      <div class="mb-4">
        <h5>Name</h5>
        <%= @nda.name %>
        <%= @nda.content %>

      </div>

      

    </div>
  </div>
</div>
