<% if user_masquerade? %>
  <div class="bg-blue-600 text-blue-200 text-sm text-center font-brand-semibold px-4 py-3" role="alert">
    You're logged in as <b>User #<%= current_user.id %></b> (<%= current_user.email %>)</b>
    <%= link_to "Logout", back_masquerade_path(current_user), class: "text-blue-100 hover:no-underline font-semibold underline" %>
  </div>
<% end %>

<nav class="fixed z-10 h-14 lg:h-16 top-0 w-full bg-white" data-controller="toggle">
  <div class="flex items-center justify-between px-5 py-3">
    
    <%= render "shared/mobile_toggle" if user_signed_in? %>

    <div class="flex items-center flex-shrink-0">
      <%= link_to root_path do %>
        <%= render_svg "logo", styles: "fill-current text-gray-700 hover:text-gray-800" %>
        <span class="sr-only"><%= Jumpstart.config.application_name %></span>
      <% end %>
    </div>

    <div class="text-left flex items-center w-auto">
        <%= render "shared/right_nav" %>

        <% if user_signed_in? %>
          <%= render "shared/account_dropdown" %>
        <% else %>
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
          <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary hidden lg:block' %>
          <%= render "shared/mobile_toggle" %>
        <% end %>
    </div>

  </div>
  <div class="hidden px-4 pt-2 pb-4 shadow-lg lg:hidden" data-target="toggle.toggleable">
    <%= render "shared/mobile_dropdown" %>
  </div>
</nav>
