<!DOCTYPE html>
<html class="h-full antialiased">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
      <%= Jumpstart.config.application_name %>
    </title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%# All assets are defined in Webpacker app/javascripts now %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.google_maps[:api_key] %>&libraries=places&callback=initMap" async defer data-turbolinks-eval="false"></script>


    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.12.1/css/pro.min.css">
    
    <%= tag.meta name: "direct-upload-url", content: rails_direct_uploads_path %>

    <%# Be sure to add your own custom favicons %>
    <%= render "shared/favicons" %>
    <%= render "shared/payments_dependencies" %>

    <%# Replace this with your FontAwesome Pro Kit code %>
    <script src="https://kit.fontawesome.com/0e5ab6a736.js"></script>
    <script src="https://dashboard-tailwindcomponents.netlify.app/assets/build/js/main.js?id=df2dfe6a4e2040ea9f2c"></script>

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">

    <%= yield :head %>
  </head>

  <body class="bg-gray-200 font-sans font-normal leading-normal h-full antialiased" onselectstart="return false">    
    <div>
      <%= render partial: "shared/flash" %>
      <%= render partial: "shared/public_navbar" %>
      <main>
        <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
            <%= yield %>
        </div>
      </main>               
      </div>
    <%= render partial: "shared/footer" unless current_user %>
    <%= javascript_pack_tag 'theme', 'data-turbolinks-track': 'reload' if current_user %>

  </body>
</html>
